 html {
    scroll-behavior: smooth;
  }

.no-padding {
  &.container-fluid {
    padding-inline: 0;
  }

  &-left {
    padding-left: 0;
  }

  &-right {
    padding-right: 0;
  }
}

.no-margin {
  margin-inline: 0;
}

.padding {
  @media (min-width: 768px) {
    padding-inline: 34px;
  }
}

.margin {
  @media (min-width: 768px) {
    padding-inline: 34px;
  }
}

.margin-card {
  @media (min-width: 768px) {
    margin-inline: 34px;
  }
}

.padding-card {
  @media (min-width: 768px) {
    padding: 34px;
  }
}

.margin-bottom {
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.padding-block {
  padding-bottom: 16px!important;
  padding-top: 16px!important;

  @media (min-width: 768px) {
    padding-bottom: 64px!important;
    padding-top: 64px!important;
  }
}

.padding-gutter {
  padding-inline: 16px;

  @media (min-width: 768px) {
    padding-inline: 20%;
  }
}

  .padding-sm-left {
  padding-left: 10%;

    @media (min-width: 768px) {
      padding-left: 0;
    }
  }

